# Bytecode / cache
.mypy_cache
.ruff_cache
__pycache__

# Environment variables
.env

# Dependency directories
node_modules
.venv

# Local development
database.db
.vite

# Storage
server/storages/app/public